h5py 
joblib 
keras
matplotlib
numpy
pandas 
requests 
scikit-learn 
scipy 
seaborn 
streamlit 
tensorboard==2.20.0
tensorboard_data_server 
tensorflow
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1