absl-py 
altair 
asttokens 
astunparse==1.6.3
attrs 
blinker 
Bottleneck 
brotlicffi 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
contourpy 
cycler 
debugpy 
decorator 
executing 
filelock 
flatbuffers 
fonttools 
gast 
gitdb 
GitPython 
gmpy2 
google-pasta 
grpcio 
h5py 
idna 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2 
joblib 
jsonschema 
jsonschema-specifications 
jupyter_client 
jupyter_core 
keras==3.12.0
keras-tuner 
kiwisolver 
kt-legacy 
libclang==18.1.1
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib==3.10.6
matplotlib-inline 
mdurl 
mkl-service==2.6.0
mkl_fft 
mkl_random 
ml_dtypes 
mpi4py 
mpmath 
namex 
narwhals 
nest-asyncio 
networkx 
numexpr 
numpy==1.26.4
opt-einsum 
optree 
packaging 
pandas 
parso 
pillow 
platformdirs 
plotly 
prompt_toolkit 
protobuf 
psutil 
pure_eval 
pyarrow 
pycparser 
Pygments 
pyparsing 
PySocks 
python-dateutil 
pytz 
pywin32 
PyYAML 
pyzmq 
referencing 
requests 
rich 
rpds-py 
scikit-learn 
scipy 
seaborn 
setuptools==72.1.0
six 
smmap 
stack_data 
streamlit 
sympy 
tenacity 
tensorboard==2.20.0
tensorboard_data_server 
tensorflow==2.20.0
tensorflow_cpu==2.19.1
termcolor 
threadpoolctl 
toml 
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
urllib3 
watchdog 
wcwidth 
Werkzeug 
wheel==0.45.1
win_inet_pton 
wrapt 
